*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/google-services.json
app/gwent-keystore
app/signing.properties
app/keystore_base64_encoded.txt
app/release
